.card {
    border-radius: 4px;
    margin:  1% 0 0 0 ;
    padding: 1% 1% 1% 1%;
}

table {
    th {
        border-right-width: thin;
    }

    tr,
    td {
        p {
            margin: 20px 0 0 0;
        }

        vertical-align: middle;

        span {
            display: flex;
            font-size: 10px;
            color: rgb(158, 152, 152);
        }

        img {
            width: 5rem;
            height: 5rem;
            padding: 0 0 0 0;
            float: left;
        }
    }
}

.btn-options {
    float: right
}